<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ServletContextVSServletConfig</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>msg2</param-name>
		<param-value>java is amazing</param-value>
	</context-param>

	<servlet>
		<servlet-name>DisplayServlet</servlet-name>
		<servlet-class>pack1.DisplayServlet</servlet-class>

		<init-param>
			<param-name>msg3</param-name>
			<param-value>servletcontext vs servletconfig</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>DisplayServlet</servlet-name>
	<url-pattern>/dis</url-pattern>
	</servlet-mapping>
</web-app>